<%= form_for(@post) do |post_form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <% if user_signed_in? %>

      <div class="field">
        <%= post_form.label :title %><br />
        <%= post_form.text_field :title %>
      </div>
      <div class="field">
        <br />
        <p><em>250 word max</em></p>
        <%= post_form.text_area :content, :rows => 10,  :style => "width:380px;" %>
      </div>
      <div class="actions">
        
        <%= post_form.submit %>
    
    <% else %>
        <div class="field">
        <%= post_form.label :username %>
        <%= post_form.text_field :username, :value => "Anonymous" %>
      </div>
         <div class="field">
        <%= post_form.label :title %>
        <%= post_form.text_field :title %>
      </div>
      <div class="field">
        <br />

        <%= post_form.text_area :content, :rows => 10,  :style => "width:380px;" %>
        <p><em>250 word max</em></p>
      </div>
      <br>
      <div class="actions">
        
        <%= post_form.submit %>
    <% end %>
  </div>
  
<% end %>
