<!-- this is a flash message, but un-needed <p id="notice"><%= notice %></p>-->
<div class="row">
	<div class="span6 offset3">
		<div class="well">
			
			<p>
			  <b><%= @post.title %></b>
			</p>
			 
			<p>
			  
			  <%= @post.content %>
			</p>
		 </div>
		 <br />
			<h4>Comments</h4>
			<%= render @post.comments %>
			 
			<h4>Add a comment:</h4>
			<%= render "comments/form" %>
		 	</div>
 </div>
	
<br />
 
<div class="btn"><%= link_to 'Edit Post', edit_post_path(@post) %></div><br><br>
<div class="btn"><%= link_to 'Back', posts_path %></div>